.site__adaptive {
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .head__container {
    width: 1200px;
  }
  .head__banner {
    width: 1200px;
  }
  .staff__fill {
    width: 1200px;
  }
  .staff__img {
    width: 1200px;
  }
  .staff__load {
    width: 1200px;
  }
  .backinfo {
    width: 1200px;
  }
  .cop {
    width: 1200px;
  }
}
@media only screen and (max-width: 1100px) {
  .head__container {
    width: 1100px;
    font-size: 14px;
  }
  .head__banner {
    width: 1100px;
  }
  .staff__fill {
    width: 1100px;
  }
  .staff__img {
    width: 1100px;
  }
  .staff__load {
    width: 1100px;
  }
  .cop {
    width: 1100px;
  }
  .backinfo {
    width: 1100px;
  }
}
